


.wrapper{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.itemssection{
    overflow: hidden;

    width: auto;
    overflow-y: scroll;
    height: 700px;
    scroll-behavior:initial;
}
.bill{
    width: 240px;
    height: 200px;
    margin-left: 50px;
    background-color: rgb(203, 191, 214);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 50px;
    font-size: 21px;
}

@media only screen and (min-width: 700px) {
    .bill{
        margin-top: 50px;
     
    }
  }