


.errorimg{
    width: 400px;
  
    position: absolute;
    bottom: 400px;
    left: 220px;
}


@media only screen and (max-width: 600px) {
    .errorimg {
        width: 300px;
  
        position: absolute;
        bottom: 400px;
        left: 100px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .errorimg {
        width: 400px;
  
        position: absolute;
        bottom: 300px;
        left: 700px;
    }
  }