




.wrapper{
    width: 300px;
    height: 340px;
    padding: 5px;
    margin: 10px;
    font-size: 24px;
    position: relative;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.cardimg{
    width: 100%;
    height: 180px;
}
.addbtn{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(66, 194, 15);
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
cursor: pointer;
width: 90px;
height: 40px;
padding: 5px;
border-radius: 4px;
}
.addbtn:hover{
  background-color: rgb(228, 228, 15);
}
.addbtn img{
  width: 40px;
}
.innersection{
  padding: 0px;
  display: flex;
  margin-left: 40px;
}
.innersection p{
  margin-left: 20px;
}
.inneraddbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.count{
  background-color: rgb(248, 248, 248);
  color: white;
  width: 23px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: -7px;
  right: -7px;
}
.count b {
  color: black;
}


.show{
  display: flex;
}

.hidden{
  display: none;
}
