




.wrapper{
    background-color: rgb(110, 110, 128);
    z-index: 1000;
    width: 100%;
    height: 50px;
    margin-right: 50px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
  position: fixed;
  top:-5px;
  left:-5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;


}

.wrapper div{
    padding-right: 70px;
}
.basketpng{
   width: 50px;
   cursor: pointer;
   padding: 5px;
   background-color: white;
   border-radius: 100%;
}
.basketpng:hover{
    background-color: rgb(109, 109, 86);
}
.home{
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT'
     Calibri, 'Trebuchet MS', sans-serif;
}
.home:hover{
    background-color: rgb(109, 109, 86);
    color: rgb(255, 255, 255);
}
.wrapperinner{
    position: relative;
}
.basketcounter{
    background-color: rgb(0, 0, 0);
 width: 23px;
 height: 23px;
 display: flex;
 color: white;
 
 justify-content: center;
 align-items: center;
    border-radius: 100%;
    position: absolute;
    bottom: -13px;
    right: 120px;
}