.wrapper {
  height: 670px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
}
.menu_icon {
  width: 149px;
  height: 63px;
}
.link_wrapper {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.link {
  font-size: 20px;
  margin-left: -5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
}
.arrow_icon {
  margin-left: 50px;
  width: 60px;
  height: 30px;
}

.input_item input::placeholder {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(100, 100, 100, 0.5);
}
.input_item p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #686868;
  margin-bottom: 8px;
  margin-left: 8px;
}
.inputs_container {
  margin-top: 150px;
  position: relative;
  padding-bottom: 100px;
}
.add_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 46px;
  background: #204080;
  border-radius: 12px;
  color: white;
}
.add_btn:hover {
  background: #4f75c2;
}
.add_btn p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.input_class {
  padding-left: 17px;
  font-size: 20px;
  width: 590px;
  height: 46px;
  background: #ffffff;
  border: 1.5px solid #484848;
  border-radius: 8px;
}
.input_class:hover {
  background: rgba(100, 100, 100, 0.08);
  border: 1.5px solid rgba(72, 72, 72, 0.6);
}

.input_class_farklı {
  padding-left: 17px;
  font-size: 20px;
  width: 590px;
  height: 46px;
  background: #ffffff;
  border: 1.5px solid #484848;
  border-radius: 8px;
}
.input_class_farklı:hover {
  background: rgba(100, 100, 100, 0.08);
  border: 1.5px solid rgba(72, 72, 72, 0.6);
}
.title {
  color: #575d5e;
  margin-top: -50px;
  padding-bottom: 20px;
  margin-left: center;
  margin-right: center;
  font: bold;
  font-family: Sans-serif;
}
