.wrapper {
  width: 37.5rem;
  height: 17rem;
  margin: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 0.5rem;
  position: relative;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.wrap {
  width: 14.5rem;
  height: 17rem;
  position: absolute;
  right: 0;
}
.title {
  font-size: 2.2rem;
  padding-left: 1rem;
}
.tools {
  width: 27.5rem;
  height: 3.75rem;
  margin-top: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.btn {
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(129, 129, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.75rem;
  cursor: pointer;
  border: 1px solid black;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
}
.btn:hover {
  background-color: rgb(156, 156, 177);
}
.received {
  font-size: 2.2rem;
}
.btntrash {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addbtn {
  position: absolute;
  width: 1rem;
  height: 1rem;
  color: black;
}
.btntrash img {
  width: 1.8rem;
  height: 1.8rem;
}

.money {
  position: absolute;
  left: 0.8rem;
  font-size: 2rem;
}
.count {
  background-color: rgb(248, 248, 248);
  color: white;
  width: 1.6rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
}
.count b {
  color: black;
}

.count {
  position: absolute;
  left: 0.5rem;
  top: -0.1rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 600px) {
  .wrapper {
    display: relative;
    background-color: yellow;
    width: 22.5rem;
    height: 33rem;
    margin: 0.6rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
  }

  .wrap {
    width: 22.5rem;
    height: 20rem;
    position: absolute;
    bottom: 0;
  }
  .tools {
    width: 27.5rem;
  }
}
